*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --BoardLenght: 360px;
    --RowLenght: 120px; /*360 / 3*/
    --IndexLenght: 113.3333333333333px; /*(360 - 20) / 3*/
    --IndexMarginLeft: 5px; /* 20 / 4*/
    --IndexMarginTop: 3.333333333333333px; /* 5 / 2*/
    --IndexMarginTopBase: 2.5px;
    --IndexColor: black;
}

html, body{
    background-color: black;
}

#main{
    height: 100vh;
    min-height: 500px;
}

#playMode{
    width: 100%;
    height: 100%;

    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

#info{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 175px;
}

#winInfoContainer{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 175px;

    display: none;
    justify-content: center;
    align-items: center;
}

#nextButtonContainer{
    position: fixed;
    top: 675px;
    width: 100%;
    height: 175px;

    display: flex;
    justify-content: center;
    align-items: center;
}
#nextButton{
    width: 250px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}
#nextButton p{
    font-size: 5em;
    color: white;
}
#winInfo{
    font-size: 5em;
    color: white;
}
#scoreContainer{
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#score{
    font-size: 3em;
    color: white;
}

#symbolContainer{
    width: 100%;
    height: 100px;
}

#nameContainer {
    width: 100%;
    height: 25px;
}
#nameContainer p{
    font-size: 2em;
    color: white;
}
#playerNameContainer{
    float: left;
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
#otherNameContainer{
    float: right;
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
#symbolContainer p{
    font-size: 7em;
    color: white;
}
#playerSymbolContainer{
    float: left;
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
#otherSymbolContainer{
    float: right;
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#board{
    width: var(--BoardLenght);
    height: var(--BoardLenght);
    background-color: black;
}

#board p{
    color: white;
    font-size: 8em;
    display: none;
}

/*-----------*/
#board #row0{
    width: 100%;
    height: var(--RowLenght);
    background-color: white;
}

#board #row1{
    width: 100%;
    height: var(--RowLenght);
    background-color: white;
}
#board #row2{
    width: 100%;
    height: var(--RowLenght);
    background-color: white;
}

/*-----------*/
#row0 #index0{
    float: left;
    margin-top: var(--IndexMarginLeft);
    margin-left: var(--IndexMarginLeft);
    width: var(--IndexLenght);
    height: var(--IndexLenght);
    background-color: var(--IndexColor);

    display: flex;
    justify-content: center;
    align-items: center;
}
#row0 #index1{
    float: left;
    margin-top: var(--IndexMarginLeft);
    margin-left: var(--IndexMarginLeft);
    width: var(--IndexLenght);
    height: var(--IndexLenght);
    background-color: var(--IndexColor);

    display: flex;
    justify-content: center;
    align-items: center;
}
#row0 #index2{
    float: right;
    margin-top: var(--IndexMarginLeft);
    margin-right: var(--IndexMarginLeft);
    width: var(--IndexLenght);
    height: var(--IndexLenght);
    background-color: var(--IndexColor);

    display: flex;
    justify-content: center;
    align-items: center;
}

/*-----------*/
#row1 #index3{
    float: left;
    margin-top: var(--IndexMarginTop);
    margin-left: var(--IndexMarginLeft);
    width: var(--IndexLenght);
    height: var(--IndexLenght);
    background-color: var(--IndexColor);

    display: flex;
    justify-content: center;
    align-items: center;
}
#row1 #index4{
    float: left;
    margin-top: var(--IndexMarginTop);
    margin-left: var(--IndexMarginLeft);
    width: var(--IndexLenght);
    height: var(--IndexLenght);
    background-color: var(--IndexColor);

    display: flex;
    justify-content: center;
    align-items: center;
}
#row1 #index5{
    float: right;
    margin-top: var(--IndexMarginTop);
    margin-right: var(--IndexMarginLeft);
    width: var(--IndexLenght);
    height: var(--IndexLenght);
    background-color: var(--IndexColor);

    display: flex;
    justify-content: center;
    align-items: center;
}

/*-----------*/
#row2 #index6{
    float: left;
    margin-top: var(--IndexMarginTopBase);
    margin-left: var(--IndexMarginLeft);
    width: var(--IndexLenght);
    height: var(--IndexLenght);
    background-color: var(--IndexColor);

    display: flex;
    justify-content: center;
    align-items: center;
}
#row2 #index7{
    float: left;
    margin-top: var(--IndexMarginTopBase);
    margin-left: var(--IndexMarginLeft);
    width: var(--IndexLenght);
    height: var(--IndexLenght);
    background-color: var(--IndexColor);

    display: flex;
    justify-content: center;
    align-items: center;
}
#row2 #index8{
    float: right;
    margin-top: var(--IndexMarginTopBase);
    margin-right: var(--IndexMarginLeft);
    width: var(--IndexLenght);
    height: var(--IndexLenght);
    background-color: var(--IndexColor);

    display: flex;
    justify-content: center;
    align-items: center;
}
